In [71]:
import pandas as pd

Cargar datos

In [72]:
# Importamos el dataset de los datos de los pokemon

df= pd.read_csv('dataset_final.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [43]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
df.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
df[df['Type 1']=='Poison']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False
34,29,Nidoran♀,Poison,NaN,275,55,47,52,40,40,41,1,False
35,30,Nidorina,Poison,NaN,365,70,62,67,55,55,56,1,False
36,31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False
37,32,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
38,33,Nidorino,Poison,NaN,365,61,72,57,55,55,65,1,False
39,34,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
47,42,Golbat,Poison,Flying,455,75,80,70,65,75,90,1,False
95,88,Grimer,Poison,NaN,325,80,80,50,40,50,25,1,False
96,89,Muk,Poison,NaN,500,105,105,75,65,100,50,1,False
117,109,Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
118,110,Weezing,Poison,NaN,490,65,90,120,85,70,60,1,False
183,169,Crobat,Poison,Flying,535,85,90,80,70,80,130,2,False
345,316,Gulpin,Poison,NaN,302,70,43,53,43,53,40,3,False
346,317,Swalot,Poison,NaN,467,100,73,83,73,83,55,3,False
368,336,Seviper,Poison,NaN,458,73,100,60,100,60,65,3,False
482,434,Stunky,Poison,Dark,329,63,63,47,41,41,74,4,False
483,435,Skuntank,Poison,Dark,479,103,93,67,71,61,84,4,False
501,451,Skorupi,Poison,Bug,330,40,50,90,30,55,65,4,False
502,452,Drapion,Poison,Dark,500,70,90,110,60,75,95,4,False
503,453,Croagunk,Poison,Fighting,300,48,61,40,61,40,50,4,False
504,454,Toxicroak,Poison,Fighting,490,83,106,65,86,65,85,4,False
629,568,Trubbish,Poison,NaN,329,50,50,62,40,62,65,5,False
630,569,Garbodor,Poison,NaN,474,80,95,82,60,82,75,5,False
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False
761,691,Dragalge,Poison,Dragon,494,65,75,90,97,123,44,6,False

In [5]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
df.groupby('Type 1')['Name'].count().sort_values(ascending=False)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64

In [57]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
df.groupby('Type 1')['Name'].count().sort_values(ascending=False)

'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''
df.groupby('Type 1')['Name'].count().sort_values(ascending=False)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64

In [87]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
df.sort_values('Speed')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
495,446,Munchlax,Normal,NaN,390,135,85,40,40,85,5,4,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
658,597,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False
486,438,Bonsly,Rock,NaN,290,50,80,95,10,45,10,4,False
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
315,291,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True

In [74]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''
len(df[df['Defense'] > 100])

123

In [79]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
df[(df['Defense'] > 100) & (df['Speed'] > 100)].shape[0]

9

In [21]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(['Type 1', 'Type 2'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [19]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
dfwater_fire=df[df['Type 1'].isin(['Water','Fire'])]
dfwater_fire.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

In [20]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
df[df['Legendary']== True]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [80]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
df[df['Legendary']== True].describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000
mean,470.215385,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231
std,173.651095,60.937389,21.722164,30.348037,28.255131,31.104608,28.827004,22.952323,1.455262
min,144.000000,580.000000,50.000000,50.000000,20.000000,50.000000,20.000000,50.000000,1.000000
25%,381.000000,580.000000,80.000000,100.000000,90.000000,100.000000,90.000000,90.000000,3.000000
50%,483.000000,600.000000,91.000000,110.000000,100.000000,120.000000,100.000000,100.000000,4.000000
75%,642.000000,680.000000,105.000000,131.000000,115.000000,150.000000,120.000000,110.000000,5.000000
max,721.000000,780.000000,150.000000,190.000000,200.000000,194.000000,200.000000,180.000000,6.000000

In [81]:
df[df['Legendary']== False].describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000
mean,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
std,208.590419,106.760417,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471
min,1.000000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,175.500000,324.000000,50.000000,54.500000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,346.000000,425.000000,65.000000,72.000000,66.000000,65.000000,65.000000,64.000000,3.000000
75%,533.500000,498.000000,79.500000,95.000000,85.000000,85.000000,85.000000,85.000000,5.000000
max,715.000000,700.000000,255.000000,185.000000,230.000000,175.000000,230.000000,160.000000,6.000000

In [90]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''

diccionario = {
'HP':[92.738462,67.182313],
'Attack':[116.676923,75.669388],
'Defense':[99.661538,71.559184],
'Sp. Atk':[122.184615,68.454422],
'Sp. Def':[105.938462,68.892517],
'Speed':[100.184615,65.455782]
}
d2 = pd.DataFrame(diccionario, index=['Legendary','No Legendary'])
d2

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Legendary,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615
No Legendary,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782

In [93]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''

df['Doble tipo']=pd.notnull(df['Type 2'])
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,True
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,True
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,True
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,False

In [95]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
df[df['Doble tipo']== True]
df.sort_values(['Type 1', 'Type 2','Name'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False,True
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False,True
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False,True
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False,True
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,535,Tympole,Water,NaN,294,50,50,40,50,40,64,5,False,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False,False
350,320,Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,False

In [22]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra

# B. Una función que calcule el precio total de la compra con un descuento del 10%

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

# D. Una función que calcule el precio total aplicando el IVA (21%)

# E.lista los artículos cuyo precio es superior a 20€

In [97]:
# A. Una función que calcule el precio total de la compra
get_value = lambda x: articulos[x]
total_compra =list(map(get_value,compra))
total = reduce(lambda x, y:x+y,total_compra)
print(total)

155

In [98]:
# B. Una función que calcule el precio total de la compra con un descuento del 10%
get_value = lambda x: articulos[x]
total_compra =list(map(get_value,compra))
total = reduce(lambda x, y:x+y,total_compra)

def calcular_descuento(porcentaje,total ):
    return total * porcentaje / 100

cd=calcular_descuento(10,total)

totaldescuento=(total-cd)
print(totaldescuento)

139.5

In [99]:
# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
get_value = lambda x: articulos[x]
total_compra =list(map(get_value,compra))
total = reduce(lambda x, y:x+y,total_compra)

def calcular_descuento(porcentaje,total ):
    return total * porcentaje / 100

cd=calcular_descuento(10,total>=100)

totaldescuento=(total-cd)
print(totaldescuento)

154.9

In [100]:
# D. Una función que calcule el precio total aplicando el IVA (21%)
get_value = lambda x: articulos[x]
total_compra =list(map(get_value,compra))
total = reduce(lambda x, y:x+y,total_compra)

def calcular_impuesto(porcentaje,total ):
    return total * porcentaje / 100

cp= calcular_impuesto(21,total)

totalimpuesto=(total+cp)
print(totalimpuesto)

187.55

In [103]:
# E.lista los artículos cuyo precio es superior a 20€
articulo_20=dict(filter(lambda x:x[1]>20,articulos.items()))
print(articulo_20)

{'Pantalón': 30, 'Zapatos': 50, 'Gafas': 25, 'Reloj': 35, 'Corbata': 40}

In [107]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

In [108]:
def curso(alumnos,str):
    lista=[]
    prom=None
    for alumno in alumnos:
        if alumno[2]==str:
            prom =np.mean(alumno[3])
            lista.append(([f'Nombre,apellido: {alumno[0]} {alumno[1]},Promedio:{prom}']))
    return lista

print(curso(alumnos,'1'))

[['Nombre,apellido: Juan Pérez,Promedio:7.0'], ['Nombre,apellido: Luis González,Promedio:7.0'], ['Nombre,apellido: Pedro Rodríguez,Promedio:7.0'], ['Nombre,apellido: Marta López,Promedio:7.0'], ['Nombre,apellido: Javier Sánchez,Promedio:7.0'], ['Nombre,apellido: Sergio Jiménez,Promedio:7.0'], ['Nombre,apellido: Pablo Álvarez,Promedio:7.0']]